<body>
  <div class="container">
  <div class="main">
    <div class="cont-left">
      <div class="top">
      </div>
      <div class="bottom">
      </div>
      <div class="title">
        <p>Routify</p>
        <div class="subtitle">
        <p class="text"> ── </p>
        <p class="text1"> ubica tu ruta</p>
        </div>
      </div>
      <div class="tabs">
        <p><span>Direcciones</span></p>
        <p>Rutas</p>
        <p>Alertas</p>
      </div>
      <div class="where">
        <p>¿A dónde vamos?</p>
      </div>
      <div class="input">
        <input placeholder="Escoge un punto de partida" type="text">
        <input placeholder="Escoge un destino" type="text">
      </div>

    </div>
    <div class="cont-middle">
      <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3778.949622036615!2d-86.84638460943854!3d21.062196305890314!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f4e81de50fe2ad5%3A0x258582dbd189eca2!2sUniversidad%20An%C3%A1huac%20Canc%C3%BAn!5e0!3m2!1sen!2smx!4v1711077866221!5m2!1sen!2smx" width="600" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
    <div class="cont-right">
      <div class="top">
      </div>
      <div class="links">
      <a class="link1" href="https://www.youtube.com/watch?v=2k1Kb8UTqps" target="_blank">Acerca de Nosotros</a>
      <a class="link2" href="https://www.youtube.com/watch?v=2k1Kb8UTqps" target="_blank">Comunidad</a>
      <a class="link3" href="https://www.youtube.com/watch?v=2k1Kb8UTqps" target="_blank">Soporte Técnico</a>
      <a class="link4" href="https://www.youtube.com/watch?v=2k1Kb8UTqps" target="_blank">Aviso de Privacidad</a>
      <a class="link5" href="https://www.youtube.com/watch?v=2k1Kb8UTqps" target="_blank">Términos y Condiciones</a>
      </div>
      <div class="bottom">
      </div>

    </div>
  </div>
</div>
</body>