<!-- 
<c-nav variant="underline">
    <c-nav-item>
        <a [active]="true" [cTabContent]="tabContent" [routerLink] [tabPaneIdx]="0" cNavLink>
        Direcciones
        </a>
</c-nav-item>
<c-nav-item>
    <a [cTabContent]="tabContent" [routerLink] [tabPaneIdx]="1" cNavLink>
    Rutas
    </a>
</c-nav-item>
<c-nav-item>
    <a [cTabContent]="tabContent" [routerLink] [tabPaneIdx]="2" cNavLink>
    Alertas
    </a>
</c-nav-item>
</c-nav>

<c-tab-content #tabContent="cTabContent" [activeTabPaneIdx]="1">
    <c-tab-pane class="p-3">
        This is a placeholder content the <strong>Direcciones</strong> tab's associated with.
    </c-tab-pane>
    <c-tab-pane class="p-3">
        This is a placeholder content the <strong>Rutas</strong> tab's associated with.
    </c-tab-pane>
    <c-tab-pane *ngIf="tabContent.activeTabPaneIdx > 0" class="p-3">
        This is a placeholder content the <strong>Alertas</strong> tab's associated with.
    </c-tab-pane>
</c-tab-content> -->


<!-- <h3>Very slow animation</h3>
<mat-tab-group animationDuration="2000ms">
  <mat-tab label="First">Content 1</mat-tab>
  <mat-tab label="Second">Content 2</mat-tab>
  <mat-tab label="Third">Content 3</mat-tab>
</mat-tab-group> -->


<mat-tab-group>
    <mat-tab label="First"> Content 1 </mat-tab>
    <mat-tab label="Second"> Content 2 </mat-tab>
    <mat-tab label="Third"> Content 3 </mat-tab>
  </mat-tab-group>
  